<section class="featured-courses vertical-column courses-wrap">
    <div class="container">
        <div class="row mx-m-25">
            <div class="col-12 px-25">
                <header class="heading flex flex-wrap justify-content-between align-items-center">
                    <h2 class="entry-title">Courses</h2>
                    <!-- Category
                    <nav class="courses-menu mt-3 mt-lg-0">
                        <ul class="flex flex-wrap justify-content-md-end align-items-center">
                            <li class="active"><a href="#">All</a>
                            </li>
                            <li><a href="#">Business</a>
                            </li>
                            <li><a href="#">Design</a>
                            </li>
                            <li><a href="#">Web Development</a>
                            </li>
                            <li><a href="#">Photography</a>
                            </li>
                        </ul>
                    </nav>
                    -->
                    <!-- .courses-menu -->
                </header>
                <!-- .heading -->
            </div>
            <!-- .col -->


            <!-- .col -->
            <div class="col-12 col-md-6 col-lg-4 px-25">
                <div class="course-content">
                    <figure class="course-thumbnail">
                        <a href="#">
                            <%=image_tag( "images/2.jpg" ) %>
                        </a>
                    </figure>
                    <!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title"><a href="#">The Ultimate Drawing Course Beginner to Advanced</a></h2>

                            <div class="entry-meta flex align-items-center">
                                <div class="course-author"><a href="#">Michelle Golden</a>
                                </div>

                                <div class="course-date">Mar 14, 2018</div>
                            </div>
                            <!-- .course-date -->
                        </header>
                        <!-- .entry-header -->


                    </div>
                    <!-- .course-content-wrap -->
                </div>
                <!-- .course-content -->
            </div>
            <!-- .col -->


            <!-- .col -->

            <div class="col-12 px-25 flex justify-content-center">
                <a class="btn" href="#">view all courses</a>
            </div>
            <!-- .col -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<!-- .courses-wrap -->
