<h1 class="entry-title">Courses</h1>
<% @courses.each do |course| %>
<div class="col-12 col-md-6 col-lg-4 px-25">
  <div class="course-content">
    <figure class="course-thumbnail">
      <a href="#">
        <%=image_tag( "images/2.jpg" ) %>
      </a>
    </figure>
    <!-- .course-thumbnail -->
    <div class="course-content-wrap">
      <header class="entry-header">
        <h2 class="entry-title"><%= link_to course.name, course %></h2>

        <div class="entry-meta flex align-items-center">
          <div class="course-author"><a href="#">Michelle Golden</a>
          </div>

          <div class="course-date">Mar 14, 2018</div>
        </div>
        <!-- .course-date -->
      </header>
      <!-- .entry-header -->
    </div>
    <!-- .course-content-wrap -->
  </div>
  <!-- .course-content -->
</div>
<% end %>
<!-- .col -->
<div class="col-12 px-25 flex justify-content-center">
<!--
<a class="btn" href="#">view all courses</a>
-->
</div>

